.films{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;


    ul{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2%;


        img{
            width: 450px;
            height: 250px;
            object-fit: cover;
            box-shadow: 5px 5px 15px 5px #747373;
            margin-bottom: 5%;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
                animation: scale 1.5s;
            }
        }
        @keyframes scale {
            0% {transform: scale(1);}
            100% {transform: scale(1.2)}
          }
    }
}