nav{
    ul{
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a{
            color: var(--headline);
            transition: all 0.3s;
            text-transform: uppercase;

            &:hover{
                color: var(--headline-light);
                animation: scale 1s;
            }
        }
        @keyframes scale {
            0% {transform: scale(1);}
            100% {transform: scale(1.2)}
          }
    }

    .themeChanger{
        cursor: pointer;
        transition: all 1s;
        &:hover{
            transform: scale(1.5);
        }
    }
}